.App{
background-image: url("./assets/apartment-architecture-artistic-1838065.jpg");
background-position: center center;
background-size: cover;
min-height: 100vh;
background-repeat: no-repeat;
position: relative;
background-attachment: fixed;
}


.app__header-title {
    padding-top: 10%;
    text-align: center;
    font-size: 40px;
    color: #324B4F;
}

@media all and (min-width: 500px) {
    .app__header-title {
        font-size: 90px;

    }
}

@media all and (min-width: 1200px) {
    .app__header-title {
        font-size: 150px;

    }
}